<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>

    <script src="/js/group/groupPage.js" defer></script>
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <%- include('../partials/nav.ejs') %>

    <main class="container-fluid mt-3">
        <p id="groupId" hidden><%= group_id %></p>

        <div class="row">
            <div id="firstHalf" class="col-6 ml-3">
                <h1>Grupo de <span id="leaderTitle"><%= leader.name %></span></h1>

                <div class="col">
                        <div class="row mt-3 mb-3">
                            <h3>Foro de grupo</h3>
                        </div>
                        <div class="col" id="forum">
                            <div id="forumMessages" class="col"></div>

                            <div id="newComment" class="row m-3 mt-5">
                                <textarea name="newContent" id="newContent" class="form-control"></textarea>
                                <button id="postNewComment" class="btn btn-primary mt-3
                                ">Enviar</button>
                            </div>
                        </div>
            </div>
        
            </div>
            <div id="secondHalf" class="col">

                <h3>Evento</h3>
                
                <div id="eventDiv" class="container-fluid mt-3">

                    <div class="row">

                        <div class="col-12 d-flex">
                            <div class="col-4">
                                <img
                                class="img-fluid img-thumbnail"
                                id="eventCover">
                            </div>
            
                            <div class="col ml-6">
                                <div class="row text-nowrap text-truncate">
                                    <h1 id="eventTitle"></h1>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <p><b>Fecha: </b><span id="eventDate"></span></p>
                                        <p><b>Ubicación: </b><span id="eventLocation"></span></p>
                                    </div>

                                    <div class="col">
                                        <p><b>Artista(s): </b><span id="eventArtist"></span></p>
                                    </div>
                                </div>
        
                            </div>

                        </div>
            
                        <!-- <div class="row mt-3">
                            <div class="col-12">
                                <div class="row ml-3">
                                    <div class="col-6">
                                        <h3>Artista(s)</h3>
                                        <p id="eventArtist"></p>
                                    </div>
                                    <div class="col-6">
                                        <h3>Ubicación</h3>
                                        <p id="eventLocation">
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                    </div>

                </div>

                <h3 class="mt-3">Miembros</h3>

                <div id="membersDiv" class="container-fluid mt-3">

                    <div class="container-fluid" id="leader">
                        <h4 class="text-info"><b>Lead</b></h4>

                        <div class="row bg-light" id="leaderInfo">
                            <div class="col">
                                <div class="container-fluid container-centered">
                                    <div class="row">
                                        <div id="leadProfilePic" class="rounded-circle"></div>
                                    </div>
                                </div>
                            </div>
                            <h6 id="leaderName"></h6>
                        </div>
                    </div>

                    <div class="row" id="participants"></div>
                </div>
                
            </div>
        </div>

    </main>
</body>
</html>